[Unit]
Description=Run K3s script
Wants = network-online.target
After = network-online.target
ConditionPathExists=/opt/k3s-install.sh
ConditionPathExists=!/opt/bin/k3s

[Service]
Type=oneshot
TimeoutStartSec=0
RemainAfterExit=yes
KillMode=process
%{ for env_key, env_value in env_config ~}
Environment="${env_key}=${env_value}"
%{ endfor ~}
ExecStart=/usr/bin/sh -c "/opt/k3s-install.sh"

[Install]
WantedBy=multi-user.target
